* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.nav {
    margin-left: auto;
    font-family: 'Open Sans', sans-serif;
}

.l1,
.l1>li {
    display: flex;
    margin: 1.25em;
}

.display {
    display: flex;
    padding: 3.5em;
    padding-bottom: 4em;
    align-items: center;

}
.fab{
    color: #fff;
    margin: 0.5em;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
}
.fab:hover {
    color: #84a4ee;
}
#padb {
    padding-bottom: 4em;
}
.half {
    width: 50%;

}
.more {
    width: 55%;
}
.less {
    width: 45%;
    margin-top: -12em;
}

.nav-link {
    text-decoration: none;
    color: #000;
}

.img {
    width: 93%;
    margin-top: 3em;
}

.balign, .calign {
    margin-top: 1em;
    display: flex;
}

.nav-links {
    text-decoration: none;
    color: #fff;
}

.nav-links:hover {
    color: #84a4ee;
}

.border {
    border-radius: 60px;
    width: 50px;
}

.box {
    max-width: 50%;
    background-color: white;
    margin: 3em 0 1em;
    padding: 1.5em;
    border: 1px transparent;
    box-shadow: 3px 3px 3px 3px #efedf8;
}
.wide {
    width: 100%;
}

.bg {
    position: relative;
    background-color: #f9f8fe;
}
.bg::before {
    content: "";
    position: absolute;
    background-image: url(images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
    left: 0;
    top: -6vw;
}

.color1 {
    background-color: #575989;
    display: flex;
    color: white;
}

.colour2 {
    background-color: #07043b;
    color: white;
    padding-top: 6em;
    padding-left: 3.5em;
    margin-bottom: -1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.pad {
    margin-left: 10px;
}

.button1 {
    color: white;
    background-color: #2e67f7;
    padding: 5px 35px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    height: 3.3em;
    width: 13em;
}

.button1:hover {
    background-color: #6b9bff;
}

form {
    box-sizing: border-box;
    margin: 8px 0px;
}

.link {
    color: #3c9886;
    margin-right: 4px;
    text-decoration: none;
    border-bottom: 1px solid;
}

.link:hover {
    color: #91e8dd;
}

.marginnotop {
    margin-top: 0%;
    font-size: smaller;
    width: 100%;
}

.margin {
    margin: 0.5em;
}

.padleft {
    padding-left: 0.5em;
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    line-height: 1.5em;
}
h1 {
    font-size: 2.3em;
}
h2 {
    font-size: 1.3em;
}

p,
button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 2em;
    width: 70%;
}

.headdiv {
    display: flex;
    padding: 2.5em;
    padding-top: 0;
    align-items: center;
}

.input1 {
    height: 3em;
    width: 18em;
    padding-left: 1em;
}

.input2 {
    height: 4em;
    width: 100%;
    padding-left: 1em;
    border: none;
    border-radius: 5px;
    margin-bottom: 1em;
}

.button2 {
    color: white;
    background-color: #2e67f7;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    height: 4.3em;
    width: 45%;
}

.button2:hover {
    background-color: #6b9bff;
}

.top {
    margin-top: 3.5em;
}

.foot2 {
    width: 20%;

}

.foot1>ul,
.foot2>ul {
    list-style-type: none;
}

.foot1>ul>li,
.foot2>ul>li {
    padding: 10px;
    margin-left: -48px;
}

.foot1 {
    width: 30%;
}
.display2 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
} 

#pwidth {
    width: 58%;
}




@media only screen and (max-width: 800px){
    .headdiv {
        padding: 1em;
    }
    .l1,
    .l1>li {
    margin: 0.6em;
    }
    p {width: 76%;
    text-align: center;
    margin: auto;
    font-size: 0.8em;
}
    #pwidth {
        width: 62%;
    }
    .l1 {
        margin: 0;
        font-size: 0.8em;
    }
    #padb {
        padding-bottom: 0;
    }
    .display {
        flex-direction: column-reverse;
        text-align: left;
        padding: 1em;
    }
    .balign {
        flex-direction: column;
        width: 100%;
        position: relative;
    }
    .calign {
        align-items: center;
    }
    .width {width: 100%;}
    .half {width: 100%;
    padding: 2em;}
    .input1 {
        width: 83%;
        height: 3.3em;
        position: absolute;
        right: 50%;
        top: -15%;
        transform: translate(50%, 10%);
    }
    .pad {
        width: 100%;
        margin: 1em 0;
    }
    h1, h2 {
        text-align: center;
        line-height: 1.2em;
        font-size: 5vw;
    }
    .img {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: auto;
        
    }
    .button1 {
        width: 83%;
        align-items: center;
        position: absolute;
        top: 40px;
        bottom: 14px;
        right: 50%;
        transform: translate(50%, 40%);
    }
    .button2 {
        width: 60%;
        height: 3.3em;
        position: absolute;
        top: 50%;
        transform: translate(-50%, 25%);
        left: 50%;
    }
    .less {
        width: 100%;
        margin-top: 5em;
    }
    .bg {
        position: relative;
        background-color: #f9f8fe;
        margin-top: 10em;
    }
    .bg::before {
        content: "";
        position: absolute;
        background-image: url(images/bg-curve-mobile.svg);
        background-repeat: no-repeat;
         background-size: contain;
        height: 100%;
        width: 100%;
        left: 0;
        top: -13vw;
    }
    #logo {
        width: 22vw;
    }
    .more {
        width: 100%;
        margin-top: 4em;
        padding-bottom: 4em;
    }
    .more > p {
        width: 81%;
        text-align: left;
    }
    #h1 {
        font-size: 3.9vw;
    }
    h2 {
        font-size: 4.5vw;
    }
    .align {
        text-align: center;
        margin: 1em 0;     
    }
    .box {
        margin: 0 auto;
        max-width: 70%;
    }
    .wide {
        width: 100%;
        text-align: left;
    }
    .marginnotop {
        width: 100%;
        text-align: left;
        font-size: 0.7em;
    }
    .border {
        max-width: 80%;
    }
    .color1 {flex-direction: column;
        padding:2em 1em 6em}
    .input2 {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -100%);
        left: 50%;
        height: 3.3em;
        width: 60%;
    }
    .top {
        position: relative;
    }
    .colour2 {
        padding: 4em;
    }
    .foot1, .foot2 {
        width: 100%;
    }
} 